.navbar {
  position: fixed;
  background-color: #373737;
  transition: width 200ms ease;
  z-index: 99 !important;
}

.navbar_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav_item {
  width: 100%;
}

.nav_item:nth-child(5) {
  margin-top: auto;
}

.nav_link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #606060;
  text-decoration: none;
}

.link_text {
  display: none;
  margin-left: 1rem;
  font-size: 1.5rem;
}

.nav_link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav_item:hover svg,
.nav_item:hover .link_text {
  color: #f3689b;
  transition: color 200ms ease;
}

.nav_item:hover {
  background-color: #606060;
  transition: background-color 200ms ease;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  background-color: #181818;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 200ms ease;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 700px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar_nav {
    flex-direction: row;
  }

  .nav_link {
    justify-content: center;
  }
}

@media only screen and (min-width: 700px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link_text {
    display: inline;
    transition: 200ms ease;
  }
}
